/* .msg{
    background: #000;
    color: white;
    padding: 20px;
    width: 300px;
    height: 100%;
}
.msg button{
    padding: 10px;
    background: #222;
    color: aqua;
    border-color: brown;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
} */